@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Develop by Md Hasib Un Nabi Schneho Khan */
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #01018a;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.content_warper{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 5%;
}
.content_container .welcome{
    font-size:21px;
    letter-spacing: 2px;
}
.content_warper h2 {
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logo_usr{
    max-width: 100%;
    max-height:50vh;
    height:50vh;
    margin: 0 auto;
}
.logo_usr img{
    max-width: 100%;
    height: 100%;
}
.content_container{
    margin: 0 auto;
    padding: 1% 0;
    
}
.content_container h1{
    margin-bottom:3%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.content_container p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin:2% 0;
    letter-spacing: 1px;
}
.content_container pre{
    font-size: 19px;
    font-weight: 600;
    line-height: 1.8;
    margin:2% 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    white-space: pre-wrap;

}


.footer_contents{
    padding: 2% 0;
    background-color: #000000;
    color: #ffffff;
}
.footer_contents p{
   text-align: center;
   letter-spacing: 2px;
}

